这是一个 shopify theme 开发项目，我们将基于 dawn 主题来实现一些自定义的功能和页面，请你尽量直接修改原有的主题代码，而不是创建新的代码。这是一个英文网站，因此所有文案请使用英文。

请注意：你只需要关注页面或模块的结构，而不太需要关心样式和内容，因为在shopify主题编辑页面，我们将通过可视化的方式来定义数据和样式等，请你在开发时考虑对每个对象添加必要的属性控制选项，以在编辑主题时进行控制。

请你始终使用中文和我对话。